@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 22px;
  padding: 0;
  margin: 0;
}

p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

header {
  display: flex;
  padding: 16px 200px;
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

section {
  display: flex;
  height: 400px;
}

button {
  margin: 10px 0;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  transition-duration: 0.2s;
}

button:hover {
  cursor: pointer;
  border-color: #3882f6;
  color: #3882f6;
  background-color: #fff;
}

.hero {
  padding: 84px 200px 100px;
  background-color: #1f2937;
  gap: 40px;
}

.hero-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 5px;
}

.hero-subtext {
  color: #e5e7eb;
}

.placeholder {
  background-color: hsl(214deg 7% 46%);
  color: #e5e7eb;
  width: 525px;
  height: 250px;
  flex: 1 0 auto;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-signup {
  border: 2px solid #3882f6;
}

.info {
  background-color: #f9faf8;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.media-container {
  display: flex;
  gap: 40px;
  padding: 10px;
}

.card-media {
  width: 175px;
  height: 175px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.subtext-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card-subtext {
  width: 175px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  flex-direction: column;
  padding: 150px 300px;
  height: 200px;
  gap: 15px;
}

.quote-content {
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  text-align: right;
  width: 90%;
}

.call-to-action {
  padding: 100px 200px;
  height: 150px;
  width: auto;
  justify-content: center;
}

.call-container {
  display: flex;
  background-color: #3882f6;
  flex: 1;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.call-text {
  color: #f9faf8;
  flex-direction: column;
}

#call-signup {
  border: 2px solid #f9faf8;
}

footer {
  background-color: #1f2937;
  padding: 40px 0;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
